
 
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #aaaeaa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #929593;
  }





  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #aaaeaa;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  a {
    color: #aaaeaa;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


  #wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 97%;
    height: 100%;
}



#header {
    width: 100%;
    padding:0px 30px;
    margin-top:13px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
      
}


 
#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#1d1a1a;
    text-decoration: none;
    
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

.hot-news-container{
    width: 100%;
    padding:0px 30px;
    margin-top:5px;
    justify-content: space-between;
    align-items: center; 
    background-color: #f1f1f1;
}

.hot-news-container {
    width: 100%; /* Đặt chiều rộng thanh hot new cont */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước thanh */
  }
  
  .hot-news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap; /* Không ngắt dòng */
    animation: scroll 20s linear infinite; /* Thiết lập hiệu ứng di chuyển */
    margin: inline 40px;
  }
  
  .hot-news-item {
    display: inline-block; /* Hiển thị dòng chữ trên cùng một dòng */
    margin-right: 20px; /* Đặt khoảng cách giữa các dòng chữ */
    animation: move 20s linear infinite; /* Thiết lập hiệu ứng di chuyển từ phải qua trái */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Di chuyển các dòng chữ ra khỏi khung bên phải */
    }
    100% {
      transform: translateX(-100%); /* Di chuyển các dòng chữ từ phải qua trái */
    }
  }
  
  @keyframes move {
    0% {
      opacity: 0; /* Ẩn dòng chữ ban đầu */
      transform: translateX(100%); /* Di chuyển dòng chữ ra khỏi khung bên phải */
    }
    20% {
      opacity: 1; /* Hiển thị dòng chữ */
      transform: translateX(0); /* Di chuyển dòng chữ từ trái sang phải */
    }
    80% {
      opacity: 1; /* Hiển thị dòng chữ */
      transform: translateX(0); /* Dừng di chuyển */
    }
    100% {
      opacity: 0; /* Ẩn dòng chữ cuối cùng */
      transform: translateX(-100%); /* Di chuyển dòng chữ ra khỏi khung bên trái */
    }
  }





.search-bar {
    display: inline-block;
    position: relative;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-bar input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }



  /* Định dạng icon và dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Định dạng dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#1d1a1a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:#f1f1f1;
  }
  
  /* Hiển thị dropdown content khi hover hoặc khi nút được nhấn */
  .dropdown:hover .dropdown-content, .dropbtn:focus + .dropdown-content {
    display: block;
  }








  body {
    font-family: Arial, sans-serif;
    margin: 0;
   
    
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .product {
    display: flex;
    margin-top: 20px;
  }
  
  .product-image {
  width: 50%;
  height: 50%;
  margin-left: 100px;
  margin-top: 70px;
  }
  
  .product-info {
    display: inline-block;
    margin-top: 5%;
    margin-left: 2% ;
    
  }
  
  .product-title {
    font-size: 45px;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .product-color {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 35px;
    margin-top: 50px;
  }
  
  .product-size {
    margin-bottom: 10px;
    font-size: 35px;
    margin-top: 50px;
  }
  
  .product-price {
    font-size: 18px;
    color: #e67e22;
    margin-bottom: 20px;
    font-size: 35px;
    margin-top: 50px;

  }
  
  .product-description {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .product-button {
    display: inline-block;
    padding: 15px 25px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    align-self:flex-end;
    font-size: 30px;
    margin-top: 20%;
    
  }


  header {
    width: 110%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  


  footer {
    margin-top:80px ;
    width: 110%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  #size {
    padding: 5px 10px;
    display: flexbox;
    margin-left: 2%;
    display: inline-flex;
  }