@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}


#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}



#header {
    width: 100%;
    padding:0px 30px;
    margin-top:13px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
      
}


 
#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#1d1a1a;
    text-decoration: none;
    
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

.hot-news-container{
    width: 100%;
    padding:0px 30px;
    margin-top:5px;
    justify-content: space-between;
    align-items: center; 
    background-color: #f1f1f1;
}

.hot-news-container {
    width: 100%; /* Đặt chiều rộng thanh hot new cont */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước thanh */
  }
  
  .hot-news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap; /* Không ngắt dòng */
    animation: scroll 20s linear infinite; /* Thiết lập hiệu ứng di chuyển */
    margin: inline 40px;
  }
  
  .hot-news-item {
    display: inline-block; /* Hiển thị dòng chữ trên cùng một dòng */
    margin-right: 20px; /* Đặt khoảng cách giữa các dòng chữ */
    animation: move 20s linear infinite; /* Thiết lập hiệu ứng di chuyển từ phải qua trái */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Di chuyển các dòng chữ ra khỏi khung bên phải */
    }
    100% {
      transform: translateX(-100%); /* Di chuyển các dòng chữ từ phải qua trái */
    }
  }
  
  @keyframes move {
    0% {
      opacity: 0; /* Ẩn dòng chữ ban đầu */
      transform: translateX(100%); /* Di chuyển dòng chữ ra khỏi khung bên phải */
    }
    20% {
      opacity: 1; /* Hiển thị dòng chữ */
      transform: translateX(0); /* Di chuyển dòng chữ từ trái sang phải */
    }
    80% {
      opacity: 1; /* Hiển thị dòng chữ */
      transform: translateX(0); /* Dừng di chuyển */
    }
    100% {
      opacity: 0; /* Ẩn dòng chữ cuối cùng */
      transform: translateX(-100%); /* Di chuyển dòng chữ ra khỏi khung bên trái */
    }
  }





.search-bar {
    display: inline-block;
    position: relative;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-bar input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }



  /* Định dạng icon và dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Định dạng dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#1d1a1a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:#f1f1f1;
  }
  
  /* Hiển thị dropdown content khi hover hoặc khi nút được nhấn */
  .dropdown:hover .dropdown-content, .dropbtn:focus + .dropdown-content {
    display: block;
  }




  




#banner {
    width: 100%;
    background-image :url("assets/banner.png");
    height: 800px;
    margin-top:0px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

.box-right {
    padding-left:1%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

 .box-right img {
    margin:0px 50px;
    animation :animation 3s infinite linear; 
    border-radius: 50px;
    height: 600px;
    width: 300px;
    
}


.box-right img:nth-child(1)
{
    animation-delay: 1s;
}
 .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}



#wp-products {
    padding-top:50px;
    padding-bottom: 5px;
    
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
    
   
}
#wp-products h5 {
  text-align: center;
  font-size:32px;
  color:#626a67;
  margin-top: 50px;
 
}




























#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
    margin-top: 20px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:128px;
}

#saleoff .box-right {
    background-image:url("assets/off.png");
}


#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}






.container {
    position: fixed;
    z-index: 1;
    width: 500px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
   
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #aaaeaa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #929593;
  }





  .container1 {
    position: fixed;
    z-index: 3;
    width: 500px;
    height: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #aaaeaa;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  a {
    color: #aaaeaa;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


  .out{
    float: right  ;
  }






  